.profile-continer{
    margin-bottom: 20px;
}
.profile-info{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.profile-info h3 {
    margin: 0;
}
.profile-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.name-location h3 , p {
    margin: 0;
    padding: 0;
}

.time{
    height: 40px;
    width: 40px;
    border-radius:  50%;
    background-color: #fff;
    display: flex;
    justify-content: center ;
    align-items: center;
    border: none;
}
.time:focus {background-color: seagreen;
color: #fff;}

.exercise-time{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.batton{
    height: 50px;
    width: 100%;
    background-color: rgb(116, 216, 116);
    border: none;
    border-radius: 8px;
    color: #fff;

}

.batton:hover{
background-color: green;
}